<?php echo $header; ?>
<div class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?><?php echo $content_bottom; ?>

     <div class="instagram">
 <div class="row">
 <div data-is
      data-is-api="/catalog/view/theme/default/instashow/api/"
      data-is-source="@selevkoevgeniy"
      data-is-direction="horizontal"
      data-is-width="auto"
      data-is-height="240px"
      data-is-columns="8"
      data-is-rows="1"
      data-is-popup-info=""
      data-is-auto="5000"
      data-is-effect="slide"
      data-is-loop="true"
      data-is-lang="ru"
      data-is-color-gallery-overlay="#fc291c"
      data-is-arrows-control="false">     
 </div>
    </div>
    </div>
 </div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>