<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="logo">
					<a href="">
						<img src="img/logo_new.png" alt="">
					</a>
				</div>
				<span class="social_title">Мы в соц. сетях:</span>
				<ul class="socials">
						<li><a class="insta" href=""></a></li>
						<li><a class="facebook" href=""></a></li>
						<li><a class="mail" href=""></a></li>
					</ul>
			</div>
			<div class="col-4 footer-info">
				<div class="row">
					<div class="col">
						<ul>
					<li><a href="">Оплата</a></li>
					<li><a href="">Доставка</a></li>
					<li><a href="">Самовывоз</a></li>
					<li><a href="">Возврат и обмен</a></li>
				</ul>
					</div>
					<div class="col">
						<ul>
							<li><a href="">О магазине</a></li>
							<li><a href="">Новости</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="col-4">
				<span class="newsletter-title">
					Рассылка
				</span>
				 <div class="newsletter">
      <input type="text" class="form-control" placeholder="E-mail">
      <span class="input-group-btn">
        <button class="btn-secondary" type="button">Подписаться</button>
      </span>
    </div>
    <div class="created d-flex justify-content-end">
    	<a href=""><img src="img/reclamare.png" alt=""></a>
    </div>
			</div>
		</div>
	</div>
</footer>