<header class="header">
	<div class="top-box">
		<div class="container">
			<div class="row">
				<div class="col-2 d-flex align-items-end">
					<ul class="socials">
						<li><a class="insta" href=""></a></li>
						<li><a class="facebook" href=""></a></li>
						<li><a class="mail" href=""></a></li>
					</ul>
				</div>
				<div class="col-7">
					<div class="logo d-flex justify-content-center">
						<a href="">
							<img src="img/logo_new.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-3 d-flex align-items-end">
					<ul class="info">
						<li><a href="" class="search"></a></li>
						<li><a href="" class="phone"></a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-box">
		<div class="container">
			<div class="row">
				<div class="col-1">
					<div class="align-items-center catalog">
					<a href="" class=" ">Каталог</a>
					</div>
				</div>
				<div class="col-9 d-flex justify-content-center align-items-center">
					<ul class="nav">
						<li><a href="">О магазине</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="col-2 d-flex justify-content-center align-items-center ">
					<div class="cart">
					<a href="" class="cart-icon">
						Корзина
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</header>