<div class="content category">
	<div class="heading-title">
		<div class="container">
			<div class="row">
				<div class="col  mt-5 d-flex justify-content-center ">
					<h1>Саше</h1>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="categories">
						<ul>
							<li><a href=""></a></li>
							<li><a href=""></a></li>
							<li><a href=""></a></li>
							<li><a href=""></a></li>
							<li><a href=""></a></li>
						</ul>
					</div>
				</div>
				<div class="col-8"  id="content">
					<div class="row">
						<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
					<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
						<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
					<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
						<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
					<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
						<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
					<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
						<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
					<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
						<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
					<div class="item col-6">
						<div class="item-thumb">
							<img src="img/layer-62.png" alt="">
							<div class="tooltip">
								<button class="btn add-to-cart">В корзину</button>
								<button class="btn one-click">Купить в 1 клик</button>
							</div>
						</div>
						<div class="name">
							Саше "Мешочек с лавандой"
						</div>
						<div class="price">
							2500 грн
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	<div class="category-description mt-5">
		<div class="container">
			<div class="row">
				<div class="col-8 offset-md-4">
					<div class="text mt-5">
						<h3>Саше с лавандой</h3>
						<p>Саше с лавандой - самый популярный товар лавандового магазина, поэтому мы с таким вниманием и любовью подходим к формированию ассортимента саше.</p>
						<p>Текстильные саше - универсальный подарок, который пригодится каждому! </p>
						<p>С давних пор известно, что аромат лаванды обладает успокаивающим и гармонизирующим свойствами.</p>
						<p>полезно в гардеробной - отпугивает моль и придает пространству шкафов и комодов приятный природный аромат,
пригодится на работе - способствует снятию умственного и эмоционального напряжения,
минисаше в вашей сумке - природный антидепрессант, который всегда под рукой,
саше возле вашей кровати и кроватки вашего ребенка - мягкое экологичное средство для спокойного сна, без нервного возбуждения, мышечного напряжения, кошмаров.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>